{"name":"Softly","slug":"softly-mobile","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/logo.png","resizeMode":"contain","backgroundColor":"#FDFCF8"},"newArchEnabled":true,"ios":{"supportsTablet":false,"bundleIdentifier":"com.softly.app","icon":"./assets/icon.png"},"android":{"package":"com.softly.app","adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#FDFCF8"}},"web":{"bundler":"metro","output":"static","favicon":"./assets/icon.png"},"plugins":["expo-router"],"scheme":"softly","sdkVersion":"52.0.0","platforms":["ios","android","web"],"extra":{"router":{"origin":false}}}